<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title><%= typeof title != 'undefined' ? title: 'Gasztroblog - Szalma Gábor' %></title>
    <link rel="shortcut icon" href="img/logotitle.png">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    
    <div class="container-xxl px-md-5 bg-white shadow-lg">

        <header class = "d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center col-md-2 mb-2 mb-md-0 text-dark text-decoration-none">
                <img src="/img/logomy2.png" width="229" height="68" alt="Gasztroblog Szalma Gabor">
            </a>


            



            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb--md-0">
                <li><a href="/" class="nav-link px-2 link-secondary">Kezdőlap</a></li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle nav-link px-2 link-secondary" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Kategóriák
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/categories">Fogások</a></li>
                    <li><a class="dropdown-item" href="/nationalities">Nemzetiségek</a></li>
                  </ul>
                </li>
                <li><a href="/submit-recipe" class="nav-link px-2 link-secondary">Recept feltöltése</a></li>
                <li><a href="/send-recipe" class="nav-link px-2 link-secondary">Recept beküldése</a></li>
                <li><a href="/login" class="nav-link px-2 link-secondary">Bejelentkezés</a></li>
                <li><a href="/logout" class="nav-link px-2 link-secondary">Kijelentkezés</a></li>
                <form method="POST" action="/search"><div class="input-group">
                    <input type="search" name="searchTerm" class="form-control" placeholder="Keresés..." aria-label="Search" required>
                      <span class="input-group-btn">
                          <button type="submit" class="btn btn-default">
                          <span><i class="bi bi-search"></i></span>
                          </button>
                      </span>
                  </div>
                    
                </form>
            </ul>

        
                
           
            
        </header>



        <main>     
        <%- body -%>
        </main>


        <!-- <footer class="py-2">
            <p>Készítette: Szalma Gábor, 2022</p>
        </footer> -->
        
        <br><br><br>

        

    </div>

    <footer id="sticky-footer" class="container-xxl flex-shrink-0 py-4 bg-dark text-white-50">
        <div class="text-center">
          <small>Copyright &copy; Szalma Gábor, 2022</small>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="/js/script.js"></script>
</body>

</html>