<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" href="/css/send-recipe.css">

<section class="px-2 py-2 my-2 text-center">
  <img src="/img/publish-recipe.png" class="d-block mx-auto mb-4 img-fluid" alt="" width="566" height="208" loading="lazy">
  <h1 class="display-5 fw-bold">Recept feltöltése</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Saját recept feltöltése</p>
  </div>
</section>

 
  
  <div class="row justify-content-center">
  
    <div class="col-8">
  
      <% if(infoSubmitObj != '') { %>
        <div class="col-12 alert alert-success" role="alert">
          <%= infoSubmitObj %>
        </div>
      <% } %>
    
      <% if(infoErrorsObj != '') { %>
        <div class="col-12 alert alert-danger" role="alert">
          <%= infoErrorsObj[0].message %>
        </div>
      <% } %>


      <form action="/submit-recipe" enctype="multipart/form-data" method="POST">

        <div class="row g-3">
  
          <div class="col-12">
            <label for="name" class="form-label">Recept Megnevezése</label>
            <input type="text" name="name" id="name" class="form-control" required>
          </div>
          
          <div class="col-12">
            <label for="description" class="form-label">Elkészítés</label>
            <textarea name="description" id="description" class="form-control" cols="30" rows="4" required></textarea>
          </div>
          
          <div class="col-12">
            <label for="name" class="form-label">Adag (hány főre)</label>
            <input type="number" name="servings" id="servings" class="form-control" required>
          </div>

          <div name="serving" class="container row">
              <div class="ingredientList row">
                <div class="ingredeintDiv mb-1 row">
                  <div class="col-md-2">
                    <label for="quantityList">Mennyiség</label>
                    <div class="quantityList">
                      <div class="quantityDiv mb-1">
                        <input type="number" step="any" name="quantity" class="form-control">
                      </div>
                    </div>
                  </div>


                  <div class="col-md-8">
                    <label for="ingredientList">Hozzávalók</label>
                        <input type="text" name="ingredients" class="form-control" required>
                  </div>


                  <div class="col-md-2">
                    <label></label>
                    <button type="button" class="form-control btn btn-outline-primary add_field_button" id="addIngredientsBtn">Hozzáadás</button>
                  </div>

                  
                </div>
              </div>
            </div>
              
            
<!-- 
            <div class="col-12">
              <button class="btn btn-outline-primary add_field_button"">+ Hozzáadás</button>
            </div>
          </div>

          <div class="input_fields_wrap">
            <button class="add_field_button">Add More Fields</button>
            <div><input type="text" name="mytext[]"></div>
          </div> -->
          
          <br>

          <div class="col-12">
            <label for="category">Kategória fogás szerint</label>
            <select class="form-select form-control" name="categoryByServing" aria-label="Category" required>
              <option selected value="">Kategória fogás szerint</option>
              <option value="Reggeli">Reggeli</option>
              <option value="Ebéd">Ebéd</option>
              <option value="Vacsora">Vacsora</option>
              <option value="Desszert">Desszert</option>
              <option value="Levesek">Levesek</option>
              <option value="Egyéb">Egyéb..</option>
            </select>
          </div>

          <br><br><br>

          <div class="col-12">
            <label for="category">Kategória nemzetiség szerint</label>
            <select class="form-select form-control" name="categoryByNationality" aria-label="Category" required>
              <option selected value="">Kategória nemzetiség szerint</option>
              <option value="Thai" required>Thai</option>
              <option value="Kínai" required>Kínai</option>
              <option value="Indiai" required>Indiai</option>
              <option value="Olasz" required>Olasz</option>
              <option value="Angol" required>Angol</option>
              <option value="Magyar" required>Magyar</option>
              <option value="Egyéb" required>Egyéb..</option>
            </select>
          </div>
          
          <br><br><br>

          <div class="col-12">
            <label for="image">Kép az ételről</label>
            <input type="file" class="form-control" name="image" accept="image/*" required>
          </div>
          
          <br><br><br>

          <div class="col-12">
            <button type="submit" class="btn btn-primary">Recept Feltöltése</button>
          </div>
  
        </div>
      


      </form>


    </div>
  </div>



		
	
	<script>
	$(document).ready(function() {
    var max_fields      = 999; //maximum input boxes allowed
    var wrapper         = $(".ingredeintDiv"); //Fields wrapper
    var add_button      = $(".add_field_button"); //Add button ID
   
    var x = 1; //initlal text box count
	
	
   $(add_button).click(function(e){ //on add input button click
        e.preventDefault();
        if(x < max_fields){ //max input box allowed
	
		     //text box increment
            $(wrapper).append('<div class="ingredeintDiv mb-1 row"><div class="col-md-2"><label for="quantityList">Mennyiség</label><div class="quantityList"><div class="quantityDiv mb-1"><input type="number" step="any" name="quantity" class="form-control" required></div></div></div><div class="col-md-8"><label for="ingredientList">Hozzávalók</label><input type="text" name="ingredients" class="form-control" required></div><a href="#" class="linkbtnsubmit remove_field btn btn-danger">Törlés</a></div>'); //add input box
            x++; 
	  }
    });
   
    $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
       
		e.preventDefault(); 
		$(this).parent('div').remove(); 
		x--;
    })
});
	
	</script>


